<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         testdox="true"
         processIsolation="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="Package">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
</phpunit>